#header{
  width: 100%;
  height: 360vh;
  background-image: url('/src/component/images/banner.jpeg');
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255); 
}
  
  h1 {
    font-size: 10em;
    font-weight: bold;
    padding-top: 4rem;
    margin-left: 3rem;
    font-family: 'Caveat', cursive;
    margin-left: 8vw;
  }
  
 
span{
  color: #ff6969;
}